<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"},"padding":{"top":"0px","bottom":"0px","left":"0px","right":"0px"}}},"layout":{"type":"constrained","contentSize":"100%"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-content {"style":{"color":{"text":"#00304a"},"elements":{"link":{"color":{"text":"#00304a"}},"heading":{"color":{"text":"#00304a"}},"h1":{"color":{"text":"#00304a"}},"h2":{"color":{"text":"#00304a"}},"h3":{"color":{"text":"#00304a"}}}},"layout":{"type":"constrained","contentSize":"100%"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","align":"center"} /-->