<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true,"type":"constrained","contentSize":"80%"}} -->
<main class="wp-block-group"><!-- wp:woocommerce/order-confirmation-status {"fontSize":"medium"} /-->

<!-- wp:woocommerce/order-confirmation-summary /-->

<!-- wp:woocommerce/order-confirmation-create-account -->
<div class="wp-block-woocommerce-order-confirmation-create-account alignwide"><!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Créer un compte SailingLoc</h3>
<!-- /wp:heading -->

<!-- wp:list {"className":"is-style-checkmark-list"} -->
<ul class="wp-block-list is-style-checkmark-list"><!-- wp:list-item -->
<li>Futurs achats plus rapides</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Enregistrer en toute sécurité les informations de paiement</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Suivre les commandes et voir l’historique d’achats</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:woocommerce/order-confirmation-create-account -->

<!-- wp:woocommerce/order-confirmation-totals-wrapper {"align":"wide"} -->
<!-- wp:heading {"style":{"typography":{"fontSize":"24px"}}} -->
<h2 class="wp-block-heading" style="font-size:24px">Détails de la commande</h2>
<!-- /wp:heading -->

<!-- wp:woocommerce/order-confirmation-totals {"lock":{"remove":true}} /-->
<!-- /wp:woocommerce/order-confirmation-totals-wrapper -->

<!-- wp:woocommerce/order-confirmation-downloads-wrapper {"align":"wide"} -->
<!-- wp:heading {"style":{"typography":{"fontSize":"24px"}}} -->
<h2 class="wp-block-heading" style="font-size:24px">Téléchargements</h2>
<!-- /wp:heading -->

<!-- wp:woocommerce/order-confirmation-downloads {"lock":{"remove":true}} /-->
<!-- /wp:woocommerce/order-confirmation-downloads-wrapper -->

<!-- wp:columns {"align":"wide","className":"wc-block-order-confirmation-address-wrapper"} -->
<div class="wp-block-columns alignwide wc-block-order-confirmation-address-wrapper"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:woocommerce/order-confirmation-shipping-wrapper {"align":"wide"} -->
<!-- wp:heading {"style":{"typography":{"fontSize":"24px"}}} -->
<h2 class="wp-block-heading" style="font-size:24px">Adresse de livraison</h2>
<!-- /wp:heading -->

<!-- wp:woocommerce/order-confirmation-shipping-address {"lock":{"remove":true}} /-->
<!-- /wp:woocommerce/order-confirmation-shipping-wrapper --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:woocommerce/order-confirmation-billing-wrapper {"align":"wide"} -->
<!-- wp:heading {"style":{"typography":{"fontSize":"24px"}}} -->
<h2 class="wp-block-heading" style="font-size:24px">Adresse de facturation</h2>
<!-- /wp:heading -->

<!-- wp:woocommerce/order-confirmation-billing-address {"lock":{"remove":true}} /-->
<!-- /wp:woocommerce/order-confirmation-billing-wrapper --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:woocommerce/order-confirmation-additional-fields-wrapper {"align":"wide"} -->
<!-- wp:heading {"style":{"typography":{"fontSize":"24px"}}} -->
<h2 class="wp-block-heading" style="font-size:24px">Informations complémentaires</h2>
<!-- /wp:heading -->

<!-- wp:woocommerce/order-confirmation-additional-fields /-->
<!-- /wp:woocommerce/order-confirmation-additional-fields-wrapper -->

<!-- wp:woocommerce/order-confirmation-additional-information /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->