<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"0px","left":"0px","top":"0px","bottom":"0px"},"margin":{"top":"-20px","bottom":"-20px"}}},"layout":{"type":"constrained","contentSize":"80%"}} -->
<div class="wp-block-group" style="margin-top:-20px;margin-bottom:-20px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-content {"style":{"spacing":{"padding":{"right":"10px","left":"10px","top":"10px","bottom":"10px"},"margin":{"right":"0px","left":"0px","top":"20px","bottom":"20px"}},"color":{"background":"#ffffffe8"}},"layout":{"type":"constrained","contentSize":"100%"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->