<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:woocommerce/product-image-gallery /-->
  <!-- wp:woocommerce/product-title {"level":1} /-->
  <!-- wp:woocommerce/product-price /-->
  <!-- wp:woocommerce/add-to-cart-form /-->
  <!-- zone notice locataire en dessous -->
  <!-- wp:pattern {"slug":"sailingloc/notice-locataire"} /-->
  <!-- wp:woocommerce/product-details /-->
  <!-- wp:woocommerce/related-products /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
